ISO/deshab.img
ISO/deshab-dev.img
ISO/deshab-realtest.img
ISO/deshab-release.img
*.o
.build_tmp/
.trae/
docs/workbuddy-planning/
sata_fat32_dsk.img



# Large binary images (regenerate from build)
SYSTEM/boot/linux-rootfs.img

SYSTEM/boot/linux-extra-rootfs.img
